[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    */migrations/*
    */unittests/*
    # omit everything in /usr
    /usr/*
    # omit this single file
    utils/tirefire.py
    */tests.py
    manage.py
    */__init__.py
    tests/*
