[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "*"
autoflake = "*"
coverage = "*"
django-extensions= "*"
django-stubs = "*"
flake8 = "*"
ipython = "*"
isort = "*"
mkdocs = "*"
mkdocs-custommill = "*"
mkdocstrings = "*"
pylint = "*"
pylint-django = "*"
tox = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"

[requires]
python_version = "3.9"
