[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
isort = "*"
pylint = "*"
pylint-django = "*"
django-extensions= "*"
Werkzeug = "*"
ipython = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-custommill = "*"
tox = "*"
autoflake = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"

[requires]
python_version = "3.9"
